// 买家留言
.flow-all-money {
  .ipt-wrapper {
    input {
      font-size: 28rpx;
      width: 100%;
      height: 75rpx;
    }
  }
}

// 卡券列表
.checkout_list {
  padding: 20rpx 30rpx 4rpx 30rpx;
  background: #fff;
  border-bottom: 1rpx solid rgb(248, 248, 248);
  .flow-shopList {
    padding: 5rpx 0 10rpx;
    border-bottom: 1rpx solid rgb(248, 248, 248);
    &:last-child {
      border-bottom: 0;
    }
  }
}

.flow-header-left {
  padding-left: 90rpx;
}

/* 会员价 */
.flow-shopList {
  
  .flow-list-right {
    .flow-cont {
      
      &.price-delete {
        font-size: 26rpx;
        color: #777;
        text-decoration: line-through;
      }
      
    }
  }

  .goods-name{
    font-size: 28rpx;
    color: #333;
  }

}

/* 支付方式 */
.pay-method {
  
  .pay-item {
    padding: 20rpx 0;
    font-size: 28rpx;
    border-bottom: 1rpx solid rgb(248, 248, 248);
    
    .item-left_icon {
      margin-right: 20rpx;
      font-size: 32rpx;
      
      &.wechat {
        color: #00c800;
      }
      
      &.balance {
        color: #ff9700;
      }
    }
  }
}

// 右侧箭头
.right-arrow {
  margin-left: 16rpx;
  // color: #777;
  font-size: 26rpx;
}

// 底部操作栏
.flow-fixed-footer {
  position: fixed;
  bottom: var(--window-bottom);
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 11;
  
  .chackout-left {
    font-size: 28rpx;
    height: 98rpx;
    color: #777;
    flex: 4;
    padding-left: 12px;
	text-align: right;
	padding-right: 40rpx;
	.col-amount-do {
		font-size:35rpx;
		color:red;
		margin-top: 5rpx;
		margin-bottom:5rpx;
	}
  }
  
  .chackout-right {
    font-size: 34rpx;
    flex: 2;
  }
  
  
  // 提交按钮
  .flow-btn {
    background: linear-gradient(to right, #f9211c, #ff6335);
    color: #fff;
    text-align: center;
    line-height: 92rpx;
    display: block;
    font-size: 28rpx;
     // 禁用按钮
     &.disabled {
       background: #ff9779;
     }
  }
}

/* 共几张卡券 */
.flow-num-box {
  font-size: 28rpx;
  color: #777;
  padding: 16rpx 24rpx;
  text-align: right;
}

/* app.scss */
.flow-shopList {
  padding: 18rpx 0;

  .flow-list-left {
    margin-right: 20rpx;

    image {
      width: 180rpx;
      height: 180rpx;
      border: 1rpx solid #eee;
      background: #fff;
    }

  }

  .flow-list-right {

    .flow-cont {
      font-size: 28rpx;
      color: #fa2209;
    }

    .small {
      font-size: 26rpx;
      color: #777;
    }

    .flow-list-cont {
      padding-top: 10rpx;
    }

  }

}

.flow-all-money {
  padding: 0 24rpx;
  color: #444;

  .flow-all-list {
    font-size: 28rpx;
    padding: 20rpx 0;
    border-bottom: 1rpx solid rgb(248, 248, 248);
  }

  .flow-all-list:last-child {
    border-bottom: none;
  }

  .flow-all-list-cont {
    font-size: 28rpx;
    padding: 10rpx 0;
  }

  .flow-arrow {
    justify-content: flex-end;
    align-items: center;
  }

}
